{% extends "base.html" %}
{% block content %}
<h1>Sajili Saluni (Hatua ya Kwanza)</h1>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div>
    <label for="{{ form.name.id_for_label }}">Jina la Saluni</label><br>
    {{ form.name.errors }}{{ form.name }}
  </div>

  <div>
    <label for="{{ form.phone.id_for_label }}">Simu</label><br>
    {{ form.phone.errors }}{{ form.phone }}
  </div>

  <div>
    <button type="submit">Sajili</button>
  </div>
</form>
{% endblock %}
